{% extends "base.html" %}

{% block content %}

<div class="home-first-page">
  <div>
    <div class="home-hero">
      <h2 class="title">
        {{ section.title }}
      </h2>
      <p>{{ section.description }}</p>
    </div>
    
    <div class="home-main">
      {{ section.content | safe }}
    </div>
  </div>
</div>

<h2>
  Recent Posts
</h2>

<div class="blog-list-item">
  <a href="/blog/wccg-website-architecture/">
    <h3>WCCG Website Architecture</h3>
  </a>
  <p>Architecture of WCCG Website (chennaicyclists.com)</p>
</div>

<div class="blog-list-item">
  <a href="/blog/hello-axum">
    <h3>Hello Axum</h3>
  </a>
  <p>Playing with axum, a new web framework for rust</p>
</div>

{% endblock content %}
